<form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
    <br>
    <div class="col-md-3">
        <label for="phoneno">Phone Number</label>
        <input ngModel name="phoneno" type="text" id="phoneno" class="form-control" placeholder="Enter Phone Number" aria-describedby="inputGroup-sizing-default">
    </div> <br>
    <div class="form-check">
        <label for="unlock"> Unlock </label>
        <input ngModel name="unlock" type="checkbox" id="unlock" class="form-check-input" value="">
    </div> <br>
    <div class="form-check">
        <label for="edelivery"> e-Delivery Notifications </label>
        <input ngModel name="edelivery" type="checkbox" id="edelivery" class="form-check-input" value="">
    </div> <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>